*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
}

header section.nav{
    background-color: aquamarine;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container-nav{
    background-color: black;
    display: flex;
    width: 70%;

}

header div{
    background-color: yellow;
    border: 3px dotted black;
    width: 100%;
    justify-content: center;
}

ul{
    list-style-type: none;
    display: inline-flex;
}

li{
    margin: 0 10px;
}

header .link{
    text-align: center;
}

header .login{
    text-align: end;
}

header .logo , .login{
    flex-basis: 25%;
}


section.front{
    background-color: aqua;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

div.purple{
    background-color: purple;
    height: 100%;
    width: 50%;
    border: 3px dotted black;
}

.section-1,
.section-2,
.section-3{
    height: 900px;
    display: flex;
    padding: 100px 0;
    justify-content: center;
    position: relative;
}

/* wave css-svg bottom */
.custom-shape-divider-bottom-1676906527 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: lightgray;
}

.custom-shape-divider-bottom-1676906527 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1676906527 .shape-fill {
    fill: #FFFFFF;
}

/* wave css-svg top */
.custom-shape-divider-top-1676906746 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: lightgray;
    transform: rotate(180deg)
}

.custom-shape-divider-top-1676906746 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1676906746 .shape-fill {
    fill: #FFFFFF;
}

.section-4{
    height: 1200px;
    display: flex;
    padding: 100px 0;
    justify-content: center;
}

main section:nth-child(even){
    background-color: lightgray;
}

main div{
    width: 70%;
    display: flex;
    
}

.pink{
    background-color: pink;
    width: 30%;
    border: 3px dotted black;
}

.sky{
    background-color: skyblue;
    width: 70%;
    border: 3px dotted black;
}

.section-2 .pink{
    order:-1;
}

.green{
    background-color: green;
    width: 100%;
    border: 3px dotted black;
}

footer{
    background-color: darkblue;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

footer section.nav{
    background-color: black;
    width: 70%;
    height: 80%;
    margin: 20px 0;
    display: flex;
}

aside{
    width: 30%;
    height: 100%;
    background-color: lightcoral;
    border: 3px dotted black;
}

footer .nav div{
    width: calc((100%-30%) /4);
    background-color: greenyellow;
    height: 100%;
    border: 3px dotted black;

}

hr{
    width: 100%;
}

footer .login{
    width: 70%;
    height: 20%;
    background-color: aquamarine ;
    margin: 20px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login div{
    background-color: yellow;
    border: 3px dotted black;
}