*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
    width: 100%;
    height: 500px;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

section.nav{
    background-color: aquamarine;
    width: 100%;
    height: 20%;
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: center;
}

div.container-nav{
    padding: 1px;
    background-color: black;
    display: flex;
    width: 50%;

}

header div{
    background-color: yellow;
    text-align: center;
    border: 3px dotted black;
    width: 100%;
    justify-content: center;
}

div.link{
    width: 200%;
}


section.front{
    background-color: aqua;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

div.purple{
    background-color: purple;
    height: 100%;
    width: 40%;
    border: 3px dotted black;
}

.section-1,
.section-2,
.section-3{
    height: 500px;
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.section-4{
    height: 800px;
    display: flex;
}

main section:nth-child(even){
    background-color: lightgray;
}

main div{
    width: 50%;
    background-color: black;
    display: flex;
    padding: 1px;
    
}

.pink{
    background-color: pink;
    width: 30%;
    border: 3px dotted black;
}

.sky{
    background-color: skyblue;
    width: 70%;
    border: 3px dotted black;
}

